.App {
  text-align: center;
}

.me {
  background-color:lightgray;
  border-width: medium;
  border-style: solid;
  border-color: gray;
  }
  
  .kakutei {
  background-color:lightgreen;
  border-width: medium;
  border-style: solid;
  border-color: green;
  }
  
  .kakuteime {
  background-color:pink;
  border-width: medium;
  border-style: solid;
  border-color: red;
  }

